<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <% include header %>
<%=name%><br>
<%=age%><br>
<%=user.name%><br>
<ul>
    <% for (var keys in user){%>
        <li><%=user[keys]%></li>
    <%}%>
</ul>
<ul>
    <% for (var i=0;i<list.length;i++){%>
        <li><%=list[i]%></li>
    <% }%>
</ul>

</body>
</html>